<tr>
  <td>
    <%= post.id %>
  </td>
  <td>
    <%= post.date %>
  </td>
  <td>
    <%= post.user.full_name %>
  </td>
  <td>
    <%= truncate(post.rationale, length: 5 ) %>
  </td>
  <td >
    <%= link_to 'Edit', edit_post_path(post), \
      class: 'btn btn-mini btn-info',id: "edit_#{post.id}" %>
  </td>
  <td >
    <%= link_to 'Delete', post_path(post), method: :delete,\
      class: 'btn btn-mini btn-danger', data: {confirm: 'Are you sure?'}, id: "delete_post_#{post.id}_from_index" %>
  </td>
</tr>
